@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&family=Quicksand&display=swap');

.container{
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hex-colors{
    text-align: center;
    
}
.hex-colors h1{
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    animation: colorChange 5s infinite alternate;
    font-size: 40px;
}
.hex-colors h2{
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 30px;
}
@keyframes colorChange {
    0%{
        color: red
    }
    20%{
        color: orange
    }
    40%{
        color: yellow
    }
    60%{
        color: green
    }
    80%{
        color: blue
    }
    100%{
        color: indigo
    }
}
@media(max-width:600px){
    .hex-colors h1{
        font-size: 30px;
    }
    .hex-colors h2{
        font-size: 20px;
    }
}